{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}

    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" type="text" name="symbol" placeholder="Symbol">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" type="number" name="quantity" placeholder="Quantity">
        </div>
        <button type="submit">Buy</button>
    </form>

{% endblock %}